/* 
    Created on : 22-abr-2018, 19:14:52
 Author     : Yerson AndrÃ©s RamÃ­rez GarcÃ­a <yaramirez352@misena.edu.co>
*/
body{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    height: 100vh;
    background-color: chartreuse;
    
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 500px;
    height: 400px;
    border: solid;
    border-radius: 30px;
    
}


input{
    font-size: 18px;
}
select{
   font-size: 20px;
}
button{
    font-size: 20px;
}
p {
    font-size: 22px;
     font-family: 'Lobster', cursive;
}

